# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Build
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Web
web/.dart_tool/

# Android
android/.gradle/
android/captures/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/

# Misc
*.iml
*.lock
*.log
.idea/
.vscode/
